{%  extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row mt-3">
    <div class="col-12">
<img src="{% static 'images/banner.jpg' %}" height="100px" width="100%"></div>
</div>

<div class="row mt-3 px-3" style="margin-bottom:100px">
    <div class="col-12">
        <h1 class="text-center fw-bold text-light mt-5 mb-5">Our collections</h1>
        <p style="text-align:justify;line-height:2.5;" class="fs-5"> Online shopping has revolutionized commerce, altering how individuals shop and businesses operate. Its impact spans convenience, accessibility, and global reach. With the proliferation of online platforms, traditional retail paradigms have shifted, ushering in a new era of consumer behavior and entrepreneurial opportunities.</p>
    </div>
</div>


<div class="container mt-5 mb-5">
    <div class="row">
        {% for i in cat %}
        <div class="col-sm-4">
            <div class="card mx-auto border border-3 border-light" style="width: 20rem;">
  <img src="{{i.image.url}}" height="200px" width="100%" class="card-img-top" alt="...">
  <div class="card-body text-center">
    <h5 class="card-title mb-3">{{i.name}}</h5>
    <a href="{% url 'shop:products' i.id %}" class="btn btn-secondary px-5 mb-2 fs-5">Products</a>
  </div>
</div></div>
        {% endfor %}
    </div>
</div>
{% endblock %}
